.intro {
  &__head {
    position: absolute;
    left: 0;
    right: 0;
    padding: 40px 0px;
    z-index: 10;
    color: white;
    @include laptop-min {
      padding: 20px 0px;
    }

    .header__wrapper {
      @include flex-between;
    }
    .header__list {
      .menu-item-has-children {
        &::after {
          background: url(../img/chevron-down-white.svg) center / 100% auto
            no-repeat;
        }
      }
    }
    .burger-open {
      svg {
        color: inherit;
      }

      @include laptop-middle {
        gap: 10px;
        .circle {
          border: none;
          width: auto;
          height: auto;
        }
        span {
          display: block;
        }
      }
    }
    .header__tel {
      display: flex !important;

      svg {
        color: inherit;
      }
    }
  }
  &__slider {
  }
  &__slide {
    display: flex !important;
    align-items: center;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    padding: 110px 0px 175px 0px;
    box-sizing: border-box;
    color: white;
    @include laptop-middle {
      min-height: 550px;
      padding: 70px 0px 30px 0px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(
        360deg,
        rgba(29, 25, 20, 0.4) 0%,
        rgba(29, 25, 20, 0.7) 70%
      );
      z-index: -1;
    }
  }
  &__slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__slide-icon {
    display: block;
    margin-bottom: 30px;
    width: 185px;

    @include laptop-middle {
      width: 160px;
    }
    @include laptop-min {
      width: 145px;
      margin-bottom: 20px;
    }
    @include tablet {
      width: 130px;
    }
  }
  &__slide-descr {
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    @include laptop-middle {
      font-size: 32px;
    }
    @include laptop-min {
      font-size: 28px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
  &__slide-btn {
    width: 270px;
    max-width: 100%;
    margin-top: 55px;
    @include laptop-min {
      margin-top: 35px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
  &__slider-pagination {
    position: absolute;
    left: 50% !important;
    bottom: 20px !important;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    padding: 4px;
    width: fit-content !important;
    border-radius: 80px;
    background: rgba(29, 25, 20, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
    @media (min-width: 992px) {
      display: none;
    }

    .swiper-pagination-bullet {
      margin: 0 !important;
      display: block;
      flex: 0 0 6px;
      height: 6px;
      opacity: 1 !important;
      border-radius: 10px !important;
      background-color: rgba(255, 255, 255, 0.5);

      transition:
        background-color 0.3s ease,
        flex 0.3s ease;

      &.swiper-pagination-bullet-active {
        background-color: white;
        flex-basis: 14px;
      }
    }
  }
  &__form {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 1620px;
    max-width: calc(100% - 30px);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    background: rgba(29, 25, 20, 0.3);

    z-index: 10;

    @include laptop-middle {
      position: static;
      transform: translateX(0);
      border-radius: 0px;
      padding: 30px 15px;
      background-color: var(--wild);
      grid-template-columns: repeat(3, 1fr);
      max-width: none;
      width: 100%;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .btn-s {
      width: 100%;
    }
  }
}
