.s-adv {
  position: relative;
  overflow: hidden;
  z-index: 1;
  &__decor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @include laptop-min {
      transform: translateX(0);
    }
    @include tablet {
      display: none;
    }

    &._left {
      left: -90px;

      @include laptop-min {
        top: 0;
        width: 120px;
        left: 0;
      }
    }
    &._right {
      right: -70px;
      @include laptop-min {
        right: 0;
        width: 140px;
        bottom: 0;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    row-gap: 50px;
    @include desktop {
      gap: 50px;
    }
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 30px;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    @include laptop {
      font-size: 20px;
    }
    @include laptop-min {
      font-size: 18px;
    }
    @include tablet-min {
      font-size: 15px;
    }

    img {
      display: block;
      width: 80px;
      flex-shrink: 0;
      @include tablet {
        width: 60px;
      }
    }
  }
}
