.s-archive-stocks {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 70px;

    @include laptop-middle {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      row-gap: 50px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
}