.s-archive {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 70px;
    @include laptop {
      row-gap: 40px;
    }
    @include tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}