.s-certificate {
  &__main {
    padding: 70px;
    @include laptop-min {
      padding: 40px 0px;
    }
    @include tablet {
      padding: 30px 0px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 70px;
    @include laptop-min {
      gap: 40px;
    }
    @include tablet {
      gap: 30px;
    }
  }
  &__step {
  }
  &__step-tag {
    padding: 10px 25px;
    border-radius: 100px;
    background-color: var(--brown);
    width: fit-content;
    margin: 0px auto 10px auto;

    font-weight: 800;
    font-size: 28px;

    @include tablet {
      font-size: 20px;
    }
    @include tablet-min {
      font-size: 14px;
      padding: 8px 20px;
      margin-bottom: 5px;
    }

    span {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.5) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__step-name {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
    @include tablet {
      font-size: 24px;
      margin-bottom: 20px;
    }
    @include tablet-min {
      font-size: 20px;
    }
  }
  &__step-price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 30px;

    border-radius: 16px;
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    padding: 50px;
    background-color: var(--primary);
    color: white;

    z-index: 1;

    @include tablet {
      gap: 20px;
      padding: 20px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      top: 0;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background: url("@img/price-bg.png") 0 0 / 100% auto no-repeat;
      z-index: -1;
      min-width: 520px;
    }
  }
  &__step-price-logo {
    display: block;
  }
  &__step-price-name {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    @include tablet {
      font-size: 24px;
    }
    @include tablet-min {
      font-size: 20px;
    }
  }
  &__step-price-input {
    width: 400px;
    max-width: 100%;
    text-align: center;
  }
  &__form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;

    width: 1200px;
    max-width: 100%;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .input-control {
      &._big {
        grid-column: 3 span;
        @include tablet {
          grid-column: 2 span;
        }
        @include tablet-min {
          grid-column: 1 span;
        }
      }
    }
  }
  &__bottom {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__bottom-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0px;

    a {
      font-size: 14px;
      line-height: 150%;
      text-decoration: underline;
      color: rgba(29, 25, 20, 0.7);

      transition: color .3s ease;
      @include hover {
        color: var(--brown);
      }
    }
  }
  &__submit {
    width: 100%;
  }
}
