.s-conducting {
  position: relative;
  padding: 200px 0px;
  color: white;
  z-index: 1;

  @include laptop {
    padding: 100px 0px;
  }
  @include tablet {
    padding: 50px 0px;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
  &__title {
    text-align: center;
    margin-bottom: 70px;
    @include laptop-middle {
      margin-bottom: 50px;
    }
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop-min {
      grid-template-columns: 1fr;
    }
    @include tablet {
      gap: 15px;
    }
  }
  &__item {
    border: 1px solid rgba(245, 243, 239, 0.2);
    border-radius: 6px;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.15);
    padding: 25px;
    @include tablet {
      padding: 15px;
    }
  }
  &__item-head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 15px;
    }

    svg {
      width: 25px;
      height: 25px;
      color: #7a9362;
      flex-shrink: 0;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 28px;
    @include laptop-middle {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  &__item-content {
    margin: 0;
  }
}
