.s-contacts {
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  color: white;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0.1;
    width: 100%;
    min-width: 2030px;
    background: url("@img/contacts-bg-decor.png") 0 0 / 100% auto no-repeat;
    z-index: -1;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    @include laptop-min {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__info {
    width: 500px;
    flex-shrink: 0;
    @include laptop-middle {
      width: 400px;
    }
    @include laptop-min {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 15px;
    }

    .circle {
      @include flex-center;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      width: 40px;
      height: 40px;

      color: white;

      svg {
        width: 20px;
        height: 20px;
      }
    }
    .name {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 5px;
      @include tablet {
        font-size: 14px;
      }
    }
    .tel {
      font-weight: 600;
      font-size: 24px;

      transition: color 0.3s ease;
      @include hover {
        color: rgba(255, 255, 255, 0.8);
      }
      @include tablet {
        font-size: 20px;
      }
    }
    .descr {
      font-weight: 400;
      font-size: 20px;
      @include laptop-middle {
        font-size: 18px;
      }
      @include tablet {
        font-size: 17px;
      }
    }
  }
  &__gallery {
    display: flex;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    @include tablet {
      width: 500px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__gallery-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__gallery-bottom {
    position: relative;
    padding: 20px 30px;
    width: 100%;
    border-radius: 0 0 6px 6px;

    padding: 20px 100px 20px 30px;

    font-weight: 400;
    font-size: 22px;

    z-index: 1;

    @include tablet {
      font-size: 18px;
      padding: 17px 15px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(25px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0 0 5px 5px;
      background: rgba(0, 0, 0, 0.15);
      z-index: -1;
    }

    .btn-play {
      position: absolute;
      right: 30px;
      top: 0;
      transform: translateY(-50%);
      @include tablet {
        right: 20px;
      }
    }
  }
  &__map {
    border-radius: 6px;
    flex: 1;
    min-height: 300px;
    overflow: hidden;
    @include laptop-middle {
      height: 400px;
    }
    @include laptop-min {
      flex: none;
      width: 100%;
      height: 500px;
    }
  }
}
