.s-events {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 70px;
    @include laptop {
      row-gap: 40px;
    }
    @include tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__btn-more {
    width: 100%;
    margin-top: 70px;
    @include laptop {
      margin-top: 40px;
    }
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 20px;
    }
  }
}
