.s-main-contacts {
  &__head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 40px;
    margin-bottom: 70px;
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop-min {
      margin-bottom: 40px;
    }
    @include tablet {
      margin-bottom: 30px;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__head-item {
    display: flex;
    align-items: start;
    gap: 20px;

    .circle {
      @include flex-center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      background-color: rgba(176, 199, 76, 0.2);

      svg {
        width: 20px;
        height: 20px;
        color: var(--light-green);
      }
    }
    .name {
      line-height: 150%;
      color: rgba(29, 25, 20, 0.8);
      margin-bottom: 5px;
    }
    .tel {
      font-weight: 600;
      font-size: 24px;

      transition: color 0.3s ease;
      @include hover {
        color: var(--light-green);
      }
      @include laptop-middle {
        font-size: 20px;
      }
    }
    .descr {
      margin: 0;
      font-weight: 400;
      font-size: 20px;

      @include laptop-middle {
        font-size: 18px;
      }
    }
  }
  &__wrapper {
    display: flex;
    gap: 40px;
    @include laptop-min {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__gallery {
    width: 500px;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    @include laptop-middle {
      width: 400px;
    }
    @include laptop-min {
      width: 500px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__gallery-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__gallery-bottom {
    position: relative;
    padding: 20px 30px;
    width: 100%;
    border-radius: 0 0 6px 6px;

    padding: 20px 100px 20px 30px;

    font-weight: 400;
    font-size: 22px;
    color: white;

    z-index: 1;

    @include tablet {
      font-size: 18px;
      padding: 17px 15px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(25px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0 0 5px 5px;
      background: rgba(0, 0, 0, 0.15);
      z-index: -1;
    }

    .btn-play {
      position: absolute;
      right: 30px;
      top: 0;
      transform: translateY(-50%);
      @include tablet {
        right: 20px;
      }
    }
  }
  &__map {
    border-radius: 6px;
    flex: 1;
    min-height: 300px;
    overflow: hidden;
    @include laptop-middle {
      height: 400px;
    }
    @include laptop-min {
      flex: auto;
      width: 100%;
      height: 500px;
    }
  }
}
