.s-notfound {
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  &__num {
    font-weight: 600;
    font-size: 120px;
    @include tablet {
      font-size: 102px;
    }
  }
  &__descr {
    margin: 20px 0px;
  }
  &__btn {
    width: 300px;
    max-width: 100%;
    margin: 0px auto;
  }
}