.s-offer {
  &__wrapper {
    @include flex-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__gallery {
    display: block;
    overflow: hidden;
    border-radius: 6px;
    flex-shrink: 0;
    width: 650px;
    max-width: 100%;
    aspect-ratio: 1/0.77;

    @include hover {
      img {
        transform: scale(1.08)
      }
    }
    @include laptop {
      width: 500px;
    }
    @include laptop-min {
      width: 650px;
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .3s linear;
    }
  }
  &__content {
    flex: 0 1 900px;
  }
  &__title {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet-min {
      gap: 10px;
      .btn-s {
        width: 100%;
      }
    }
  }
}