.s-page {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    @include laptop-middle {
      gap: 20px;
    }
  }
  &__sidebar-overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 100;

    opacity: 0;
    visibility: hidden;

    transition:
      visibility 0.4s ease,
      opacity 0.4s ease;

    &._active {
      opacity: 0.5;
      visibility: visible;
    }
  }
  &__sidebar {
    position: sticky;
    top: 20px;
    width: 400px;
    max-width: 100%;
    flex-shrink: 0;
    @include laptop-min {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: white;
      overflow-y: auto;
      width: 340px;
      padding: 20px 15px;
      z-index: 110;

      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);

      transition:
        transform 0.4s ease,
        visibility 0.4s ease,
        opacity 0.4s ease;

      &._open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }
  &__sidebar-head {
    @include flex-between;
    gap: 20px;
    margin-bottom: 20px;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__sidebar-close {
    width: 25px;
    height: 25px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--light-green);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      &.current-menu-item {
        a {
          background-color: var(--wild);
        }
      }
    }

    a {
      display: block;
      width: 100%;
      padding: 16px 20px;
      border: 2px solid var(--wild);
      border-radius: 12px;

      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      transition: background-color 0.3s ease;

      @include hover {
        background-color: var(--wild);
      }
      @include laptop-min {
        font-size: 16px;
        padding: 12px 14px;
      }
      @include tablet {
        font-size: 15px;
      }
    }
  }
  &__menu-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--wild);
    margin-bottom: 20px;
    width: fit-content;

    font-size: 16px;
    line-height: 150%;

    @media (min-width: 992px) {
      display: none;
    }
    @include tablet-min {
      width: 100%;
    }

    .rect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      width: 25px;
      height: 25px;

      div {
        width: 100%;
        height: 2px;
        background-color: var(--primary);
      }
    }
  }
  &__main {
    flex: 1;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__content {
    color: rgba(29, 25, 20, 0.7);
  }
}
