.s-possibilities {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    @include laptop-middle {
      gap: 30px;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__slider {
    width: 800px;
    max-width: 100%;

    @media (min-width: 992px) {
      position: sticky;
      top: 20px;
    }
    @include desktop {
      width: 600px;
    }
    @include laptop-middle {
      width: 500px;
    }
    @include laptop-min {
      width: 800px;
    }
  }
  &__slide {
    border-radius: 6px;
    overflow: hidden;

    aspect-ratio: 1/0.8;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__content {
    flex: 1;
    display: flex;
    align-items: start;
    gap: 40px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 10px;
    }

    li {
      display: flex;
      align-items: start;
      gap: 20px;

      text-align: start;
      font-weight: 400;
      line-height: 150%;

      @include tablet {
        gap: 10px;
      }

      svg {
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        margin-top: 8px;
        color: var(--light-green);
      }
    }
  }
  &__icon {
    display: block;
    flex-shrink: 0;
    width: 50px;
    @include laptop-middle {
      display: none;
    }
  }
}
