.burger-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(20px);
  background: rgba(29, 25, 20, 0.3);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  z-index: 100;

  &._active {
    opacity: 1;
    visibility: visible;
  }
  @include laptop-min {
    display: none;
  }
}
.burger {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  width: 900px;
  max-width: 100%;
  z-index: 110;

  transform: translateX(-100%);
  opacity: 0;
  visibility: visible;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  @include laptop-min {
    // top: 80px;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    padding: 45px 0px;
    background: url("@img/burger-decor.png") right 0 bottom 0 / 325px auto
      no-repeat;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include laptop-min {
      padding: 30px 0px;
    }
    @include tablet {
      background: white;
    }
  }
  &__container {
    width: 630px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-bottom: 30px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--light-green);
    }
    @include laptop-min {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0px;
    gap: 80px;
    row-gap: 50px;
    @include laptop-min {
      display: none;
    }
  }
  &__block {
    &._full {
      grid-column: 2 span;

      .burger__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        row-gap: 15px;
      }
    }
  }
  &__block-title {
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(29, 25, 20, 0.5);
    margin-bottom: 30px;
  }
  &__tab {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease;

    &._active {
      display: block;
    }
    &._show {
      opacity: 1;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--light-green);
      }
    }
  }
  &__nav-list {
    @media (min-width: 992px) {
      display: none;
    }

    li {
      @include flex-between;
      padding: 15px 0px;
      gap: 10px;
      border-bottom: 1px solid rgba(29, 25, 20, 0.1);

      &[data-burger-tab-btn] {
        &::after {
          content: "";
          flex-shrink: 0;
          width: 7px;
          height: 16px;

          background: url("@img/chevron-next.svg") center / 100% auto no-repeat;
        }
      }
    }
    a {
      display: block;

      font-weight: 400;
      transition: color 0.3s ease;
      @include hover {
        color: var(--light-green);
      }
    }
  }
  &__contacts {
    padding-top: 50px;
    border-top: 1px solid rgba(29, 25, 20, 0.1);
    @include laptop-min {
      padding-top: 0;
      border-top: 0;
      margin-top: 40px;
    }
    @include tablet {
      margin-top: 20px;
    }
  }
  &__tel {
    display: block;
    width: fit-content;
    margin-bottom: 50px;

    font-weight: 400;
    font-size: 24px;
    transition: color 0.3s ease;
    @include hover {
      color: var(--light-green);
    }
    @include laptop-min {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &__contacts-content {
    margin-top: 50px;
    @include laptop-min {
      margin-top: 20px;
    }
  }
  &__contacts-address {
    max-width: 290px;
    @include tablet {
      max-width: 260px;
      font-size: 15px;
    }
  }
  &__contacts-road {
    display: block;
    width: fit-content;

    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-top: 10px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--light-green);
    }
    @include tablet {
      font-size: 15px;
    }
  }
  &__btn-prev {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15px;
    margin-bottom: 5px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--light-green);
    }

    svg {
      width: 7px;
      height: 16px;
    }
  }
}
