.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  &.flex-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}