html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Manrope", sans-serif;

  font-weight: 300;
  font-size: 17px;
  color: var(--black);

  @include tablet {
    font-size: 15px;
  }
}
