:root {
  --black: #1d1914;
  --light-green: #b0c74c;
  --storm: #fafaf9;

  --primary: #555b3b;
  --primary-light: #6d754b;
  --wood: #f6f8f2;

  --brown: #996d58;
  --brown-light: #ad7f6a;

  --wild: #f5f5f5;
  --alabaster: #f9f9f9;
}
