<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__wrapper">
    <div class="burger__container">
      <div class="burger__close" id="burger-close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
      <div class="burger__blocks">
        <div class="burger__block _full">
          <div class="burger__block-title">Домики</div>
          <ul class="list burger__list">
            <li><a href="#">Дом «Обновление»</a></li>
            <li><a href="#">Дом «Созерцание»</a></li>
            <li><a href="#">Дом «Преображение»</a></li>
            <li><a href="#">Домик «Я скучаю»</a></li>
          </ul>
        </div>
        <div class="burger__block">
          <div class="burger__block-title">Домики</div>
          <ul class="list burger__list">
            <li><a href="#">Бани</a></li>
            <li><a href="#">Ресторан</a></li>
            <li><a href="#">Веранда</a></li>
          </ul>
        </div>
        <div class="burger__block">
          <div class="burger__block-title">Полезное</div>
          <ul class="list burger__list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div data-burger-tab="main" class="burger__tab _active _show">
        <ul class="list burger__nav-list">
          <li><a href="#">Главная</a></li>
          <li data-burger-tab-btn="tab-1"><a href="#">Домики</a></li>
          <li data-burger-tab-btn="tab-2">
            <a href="#">Проведение мероприятий</a>
          </li>
          <li><a href="#">Бани</a></li>
          <li><a href="#">Ресторан</a></li>
          <li><a href="#">Веранда</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Реквизиты</a></li>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div data-burger-tab="tab-1" class="burger__tab">
        <div data-burger-tab-btn="main" class="burger__btn-prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-chevron-prev"></use>
          </svg>
          <span>Назад</span>
        </div>
        <ul class="list burger__nav-list">
          <li><a href="#">Дом «Обновление»</a></li>
          <li><a href="#">Дом «Преображение»</a></li>
          <li><a href="#">Дом «Созерцание»</a></li>
          <li><a href="#">Домик «Я скучаю»</a></li>
        </ul>
      </div>
			<div data-burger-tab="tab-2" class="burger__tab">
        <div data-burger-tab-btn="main" class="burger__btn-prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-chevron-prev"></use>
          </svg>
          <span>Назад</span>
        </div>
        <ul class="list burger__nav-list">
          <li><a href="#">Проведение свадеб</a></li>
          <li><a href="#">Корпоративные мероприятия</a></li>
          <li><a href="#">Банкеты и вечеринки</a></li>
          <li><a href="#">Проведение свадеб</a></li>
          <li><a href="#">Корпоративные мероприятия</a></li>
          <li><a href="#">Банкеты и вечеринки</a></li>
					<li><a href="#">Проведение свадеб</a></li>
          <li><a href="#">Корпоративные мероприятия</a></li>
          <li><a href="#">Банкеты и вечеринки</a></li>
        </ul>
      </div>
      <div class="burger__contacts">
        <a href="tel:+79930930330" class="burger__tel">+7 (993) 093-03-30</a>
        <div class="social-items">
          <a href="#" target="_blank" rel="nofollow" class="social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
            <span>Telegram</span>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
            <span>WhatsApp</span>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
            <span>Вконтакте</span>
          </a>
        </div>
        <div class="burger__contacts-content">
          <div class="burger__contacts-address">
            РТ, Высокогорский район, Семиозерское сельское поселение
          </div>
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            class="burger__contacts-road"
          >
            Как проехать
          </a>
        </div>
      </div>
    </div>
  </div>
</div>