<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <a href="/" class="footer__logo">
        <img src="@img/logo-white.svg" alt="logo" />
      </a>
      <div class="footer__contacts">
        <a href="tel:+79930930330" class="footer__tel">+7 (993) 093-03-30</a>
        <a href="mailto:ecotishina@gmail.com" class="footer__mail">
          ecotishina@gmail.com
        </a>
      </div>
      <div class="social-items">
        <a href="#" target="_blank" rel="nofollow" class="social-btn _white">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tg"></use>
          </svg>
          <span>Telegram</span>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-btn _white">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-wh"></use>
          </svg>
          <span>WhatsApp</span>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-btn _white">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-vk"></use>
          </svg>
          <span>Вконтакте</span>
        </a>
      </div>
      <div class="footer__address">
        РТ, Высокогорский район,
        <br />
        Семиозерское сельское поселение
      </div>
    </div>
    <div class="footer__body">
      <div class="footer__nav">
        <div class="footer__nav-item">
          <div class="footer__nav-title">Домики</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Дом «Обновление»</a></li>
            <li><a href="#">Дом «Преображение»</a></li>
            <li><a href="#">Дом «Созерцание»</a></li>
            <li><a href="#">Домик «Я скучаю»</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="footer__nav-title">Проведение мероприятий</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Проведение свадеб</a></li>
            <li><a href="#">Корпоративные мероприятия</a></li>
            <li><a href="#">Банкеты и вечеринки</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="footer__nav-title">Дополнительно</div>
          <ul class="list footer__nav-list">
            <li><a href="#">Бани</a></li>
            <li><a href="#">Ресторан</a></li>
            <li><a href="#">Веранда</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="footer__nav-title">Полезное</div>
          <ul class="list footer__nav-list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__content">
        <div class="footer__content-row">
          <div class="footer__content-value">
            © 2025. Эко-усадьба “Тишина”. Все права защищены
          </div>
          <div class="footer__content-value">
            ИП Иванов Иван, ИНН: 31231541111, ОГРНИП: 13131251123115
          </div>
        </div>
        <ul class="list footer__content-list">
          <li><a href="#" target="_blank">Публичная оферта</a></li>
          <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
          <li><a href="#" target="_blank">Правила обработки персональных данных</a></li>
          <li>
            <a href="#" target="_blank">
              <span>Разработка сайта —</span>
              <img src="@img/logo-dev.svg" alt="logo" />
            </a>
          </li>
        </ul>
        <p class="footer__descr">
          Обращаем Ваше внимание на то, что данный интернет-сайт носит
          исключительно информационный характер и ни при каких условиях не
          является публичной офертой. Для получения подробной информации о
          стоимости, наименовании и сроках оказания услуг, пожалуйста,
          обращайтесь по контактным телефонам. Конкретный перечень услуг и
          порядок их предоставления определяется в договоре оказания услуг,
          оформляемым между спа-салоном и пациентом
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/aos/aos.min.js"></script>