<header class="header _main">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__nav">
        <div class="header__menu-btn burger-open">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-points"></use>
            </svg>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-close"></use>
            </svg>
          </div>
          <span>МЕНЮ</span>
        </div>
        <ul class="list header__list">
          <li><a href="#">Домики</a></li>
          <li><a href="#">Бани</a></li>
          <li class="menu-item-has-children">
            <a href="#">Проведение мероприятий</a>
            <div class="wrapper-submenu">
              <ul class="sub-menu">
                <li><a href="#">Проведение свадеб</a></li>
                <li><a href="#">Проведение свадеб</a></li>
                <li><a href="#">Проведение свадеб</a></li>
                <li><a href="#">Корпоративные мероприятия</a></li>
                <li><a href="#">Корпоративные мероприятия</a></li>
                <li><a href="#">Корпоративные мероприятия</a></li>
                <li><a href="#">Банкеты и вечеринки</a></li>
                <li><a href="#">Банкеты и вечеринки</a></li>
                <li><a href="#">Банкеты и вечеринки</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="header__mob-buttons">
          <a href="tel:+79930930330" class="header__mob-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel-stroke"></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="header__mob-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location-stroke"></use>
            </svg>
          </a>
        </div>
      </nav>
      <a href="/" class="header__logo">
        <picture>
          <source srcset="@img/logo-mob.svg" media="(max-width: 767px)" />
          <img src="@img/logo.svg" alt="image" />
        </picture>
      </a>
      <a href="tel:+79930930330" class="header__tel">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-tel"></use>
        </svg>
        <span>+7 (993) 093-03-30</span>
      </a>
      <a href="#modal-brone" data-fancybox class="header__mob-brone">
        Забронировать
      </a>
    </div>
  </div>
</header>
