<div class="modal" id="modal-brone">
  <div class="modal__title">Забронировать</div>
  <div class="modal__form">
    <div>
      <input type="text" id="input-brone" />
    </div>
    <div class="input-control">
      <input type="text" placeholder="Ваше имя" class="input _outline" />
    </div>
    <div class="input-control">
      <input
        type="text"
        placeholder="Укажите дату заезда"
        class="input _outline _date"
      />
    </div>
    <div class="input-control">
      <input
        type="text"
        placeholder="Укажите дату выезда"
        class="input _outline _date"
      />
    </div>
    <div class="input-control">
      <input
        type="number"
        placeholder="Количество гостей"
        class="input _outline"
      />
    </div>
    <div class="check-wrapper">
      <p>
        <span class="wpcf7-form-control-wrap" data-name="acceptance-622">
          <span class="wpcf7-form-control wpcf7-acceptance">
            <span class="wpcf7-list-item">
              <label>
                <input
                  type="checkbox"
                  name="acceptance-622"
                  value="1"
                  class="input-check"
                  aria-invalid="false"
                />
                <span class="wpcf7-list-item-label">
                  <span>
                    Я соглашаюсь
                    <a href="/personal-data" target="_blank">
                      Политикой обработки персональных данных
                    </a>
                    и
                    <a href="/privacy-policy" target="_blank">
                      Политикой конфиденциальности
                    </a>
                  </span>
                </span>
              </label>
            </span>
          </span>
        </span>
        <br />
        <input
          class="wpcf7-form-control wpcf7-submit has-spinner btn-s form-btn"
          type="submit"
          value="Отправить заявку"
          disabled=""
        />
        <span class="wpcf7-spinner"></span>
      </p>
    </div>
  </div>
</div>
