<section class="s-about sect-p" style="background: url('@img/decor-bg.png') 0 0 / 100% auto no-repeat;">
  <div class="container">
    <div class="sect-head">
      <h1 class="s-title">Эко-усадьба «Тишина»</h1>
      <div class="sect-head__content">
        <p class="sect-head__descr">
          Здесь, в сердце леса, среди прозрачных озёр и тихих тропинок,
          где можно услышать лишь пение птиц и шелест листвы, рождается то самое
          ощущение покоя, которого так не хватает в городской суете. Только
          свежий воздух, кристально чистая вода и ощущение
          гармонии с самим собой
        </p>
        <img src="@img/decor.png" alt="image" class="sect-head__content-icon">
      </div>
    </div>
    <div class="gallery">
      <a href="@img/gallery-1.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-1.jpg" alt="image">
      </a>
      <a href="@img/gallery-2.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-2.jpg" alt="image">
      </a>
      <a href="@img/gallery-1.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-1.jpg" alt="image">
      </a>
      <a href="@img/gallery-2.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-2.jpg" alt="image">
      </a>
      <a href="@img/gallery-3.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-3.jpg" alt="image">
      </a>
      <a href="@img/gallery-1.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-1.jpg" alt="image">
      </a>
      <a href="@img/gallery-1.jpg" data-fancybox="about-gallery" class="gallery-item">
        <img src="@img/gallery-2.jpg" alt="image">
      </a>
    </div>
  </div>
</section>
