<section class="s-adv sect-m">
  <img src="@img/decor-adv-1.svg" alt="image" class="s-adv__decor _left">
  <img src="@img/decor-adv-2.svg" alt="image" class="s-adv__decor _right">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Чем заняться?</h2>
    </div>
    <div class="s-adv__grid">
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Наконец-то отдохнуть и выспаться на свежем воздухе</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Посидеть у костра под звездным небом</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Погулять по лесным тропам пешком, на лыжах или велосипедах</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Расслабиться в бане или ароматных чанах</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Устроить мини чемпионат по волейболу или настольному теннису</span>
      </div>
      <div class="s-adv__item">
        <img src="@img/adv-icon.svg" alt="icon">
        <span>Приготовить ароматный ужин на мангале</span>
      </div>
    </div>
  </div>
</section>