<section class="s-archive-stocks sect-m _pt">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://bat.qorix.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">&gt;</span>
        <span class="aioseo-breadcrumb">Акции</span>
      </div>
      <div class="m-title page-head__title">Все акции</div>
    </div>
    <div class="s-archive-stocks__grid">
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка 30% при раннем бронировании</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
      <a href="#" class="card-stock">
        <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
        <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
        <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
        <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
      </a>
    </div>
  </div>
</section>
