<section class="sect-m s-bathhouse _pt">
  <div class="container s-bathhouse__gallery-container">
    <div class="page-head">
      <div class="container">
        <div class="aioseo-breadcrumbs">
          <span class="aioseo-breadcrumb">
            <a href="https://bat.qorix.ru" title="Главная">Главная</a>
          </span>
          <span class="aioseo-breadcrumb-separator">&gt;</span>
          <span class="aioseo-breadcrumb">Баня с чаном</span>
        </div>
      </div>
    </div>
    <div
      class="s-bathhouse__gallery"
      style="
        background: url(&quot;@img/bathhouse.jpg&quot;) center / cover no-repeat;
      "
    >
      <div class="s-bathhouse__gallery-content">
        <h1 class="s-title s-bathhouse__gallery-title">Баня с горячим чаном</h1>
        <p class="s-bathhouse__gallery-descr content">
          Противоположная точка зрения подразумевает, что многие известные
          личности представляют собой не что иное, как квинтэссенцию победы
          маркетинга над разумом и должны быть функционально разнесены на
          независимые элементы.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-bathhouse__spec">
      <div class="s-bathhouse__item _primary">
        <div class="s-bathhouse__item-title">Стоимость посещения</div>
        <ul class="list s-bathhouse__item-prices">
          <li>
            <span class="value">5000 руб.</span>
            <span>/ утреннее время</span>
          </li>
          <li>
            <span class="value">8000 руб.</span>
            <span>/ вечернее время</span>
          </li>
        </ul>
        <a
          href="#modal-brone"
          data-fancybox
          class="btn-s _white s-bathhouse__item-btn"
        >
          Забронировать баню
        </a>
      </div>
      <div class="s-bathhouse__item">
        <div class="s-bathhouse__item-title">Стоимость посещения</div>
        <ul class="list s-bathhouse__item-list-check">
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check"></use>
            </svg>
            <span>Сейчас всё чаще звучит печальный плач оппозиции</span>
          </li>
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check"></use>
            </svg>
            <span>Подтверждено: жизнь прекрасна!</span>
          </li>
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check"></use>
            </svg>
            <span>Парад бытовой техники оказался началом великой войны</span>
          </li>
        </ul>
      </div>
      <div class="s-bathhouse__item">
        <div class="s-bathhouse__item-title">Дополнительные услуги</div>
        <ul class="list s-bathhouse__item-list">
          <li>
            <span>Сейчас всё чаще звучит печальный плач оппозиции</span>
            <span class="value">500 руб.</span>
          </li>
          <li>
            <span>Подтверждено: жизнь прекрасна!</span>
            <span class="value">1000 руб.</span>
          </li>
          <li>
            <span>Парад бытовой техники оказался началом великой войны</span>
            <span class="value">300 руб.</span>
          </li>
        </ul>
      </div>
      <div class="s-bathhouse__item">
        <div class="s-bathhouse__item-title">График сеансов</div>
        <ul class="list s-bathhouse__item-list-points">
          <li>11.00 - 14.00</li>
          <li>16.00 - 19.00</li>
          <li>21.00 - 00.00</li>
        </ul>
        <p class="content s-bathhouse__item-content">
          Сложно сказать, почему ключевые особенности структуры проекта будут
          призваны к ответу.
        </p>
      </div>
    </div>
  </div>
</section>
