<section
  class="s-conducting"
  style="
    background: url(&quot;@img/conducting.jpg&quot;) center / cover no-repeat;
  "
>
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Проведение мероприятий</h2>
    </div>
    <div class="s-conducting__grid">
      <div class="s-conducting__item">
        <div class="s-conducting__item-head">
          <div class="s-conducting__item-title">Проведение свадеб</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
        <p class="s-conducting__item-content content">
          В нашей Усадьбе вы можете отпраздновать свадьбу и провести медовый
          месяц
        </p>
      </div>
      <div class="s-conducting__item">
        <div class="s-conducting__item-head">
          <div class="s-conducting__item-title">Корпоративные мероприятия</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
        <p class="s-conducting__item-content content">
          В нашей Усадьбе вы можете организовать семинары, тренинги,
          конференции, спортивные соревнования и любые другие важные мероприятия
          для вашей компании: дни рождения, выходные, банкеты
        </p>
      </div>
      <div class="s-conducting__item">
        <div class="s-conducting__item-head">
          <div class="s-conducting__item-title">Банкеты и вечеринки</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
        <p class="s-conducting__item-content content">
          На территории усадьбы есть большая терраса вместимостью 100 человек.
          Для проведения свадеб, юбилеев, корпоративов
        </p>
      </div>
    </div>
  </div>
</section>
