<section class="s-contacts sect-p">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Где мы находимся</h2>
    </div>
    <div class="s-contacts__wrapper">
      <div class="s-contacts__info">
        <div class="s-contacts__item">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </div>
          <div class="content">
            <div class="name">Телефон для брони:</div>
            <a href="tel:+79930930330" class="tel">+7 (993) 093-03-30</a>
          </div>
        </div>
        <div class="s-contacts__item">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-message"></use>
            </svg>
          </div>
          <div class="content">
            <div class="name">Наши соц. сети:</div>
            <div class="social-items">
              <a
                href="#"
                target="_blank"
                rel="nofollow"
                class="social-btn _min _white"
              >
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                </svg>
                <span>Telegram</span>
              </a>
              <a
                href="#"
                target="_blank"
                rel="nofollow"
                class="social-btn _min _white"
              >
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-wh"></use>
                </svg>
                <span>WhatsApp</span>
              </a>
              <a
                href="#"
                target="_blank"
                rel="nofollow"
                class="social-btn _min _white"
              >
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-vk"></use>
                </svg>
                <span>Вконтакте</span>
              </a>
            </div>
          </div>
        </div>
        <div class="s-contacts__item">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </div>
          <div class="content">
            <div class="name">Мы находимся по адресу:</div>
            <div class="descr">
              РТ, Высокогорский район,
              <br />
              Семиозерское сельское поселение
            </div>
          </div>
        </div>
        <div class="s-contacts__gallery">
          <img src="@img/contacts-nature.jpg" alt="image" class="s-contacts__gallery-img">
          <div class="s-contacts__gallery-bottom">
            <span>Как к нам проехать</span>
            <a href="@img/adv-icon.svg" data-fancybox class="btn-play">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-play'></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="s-contacts__map map" data-center="[55.95437190397372,49.07396249999996]" data-icon="@img/location.svg" data-zoom="16"></div>
    </div>
  </div>
</section>
