<div class="s-events sect-m _pt">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://bat.qorix.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">&gt;</span>
        <span class="aioseo-breadcrumb">Все мероприятия</span>
      </div>
      <div class="m-title page-head__title">Все мероприятия</div>
      <p class="page-head__content content">
        Уютные домики, идеально подходящие для семейных поездок, романтических
        выходных или дружеских встреч. Мы продумали всё, чтобы отдых был
        комфортным: удобные спальни, оборудованная кухня, стильный интерьер
        и, конечно, вид на природу, который вдохновляет с первых минут
      </p>
    </div>
    <div class="s-events__grid">
      <div class="card-event">
        <div class="swiper card-event__slider">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination-shadow"></div>
        </div>
        <div class="card-event__body">
          <a href="#" class="card-event__title">Проведение свадеб</a>
          <p class="card-event__content">
            В нашей Усадьбе вы можете отпраздновать свадьбу и провести медовый
            месяц. 
          </p>
          <a href="#" class="btn-s card-event__btn _stroke _brown">Подробнее</a>
        </div>
      </div>
      <div class="card-event">
        <div class="swiper card-event__slider">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination-shadow"></div>
        </div>
        <div class="card-event__body">
          <a href="#" class="card-event__title">Корпоративные мероприятия</a>
          <p class="card-event__content">
            В нашей Усадьбе вы можете организовать семинары, тренинги,
            конференции, спортивные соревнования и любые другие важные
            мероприятия для вашей компании: дни рождения, выходные, банкеты.
          </p>
          <a href="#" class="btn-s card-event__btn _stroke _brown">Подробнее</a>
        </div>
      </div>
      <div class="card-event">
        <div class="swiper card-event__slider">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination-shadow"></div>
        </div>
        <div class="card-event__body">
          <a href="#" class="card-event__title">Проведение свадеб</a>
          <p class="card-event__content">
            В нашей Усадьбе вы можете отпраздновать свадьбу и провести медовый
            месяц. 
          </p>
          <a href="#" class="btn-s card-event__btn _stroke _brown">Подробнее</a>
        </div>
      </div>
      <div class="card-event">
        <div class="swiper card-event__slider">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
            <a
              href="@img/event.jpg"
              data-fancybox="lodge-1"
              class="swiper-slide card-event__slide"
            >
              <img src="@img/event.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination-shadow"></div>
        </div>
        <div class="card-event__body">
          <a href="#" class="card-event__title">Корпоративные мероприятия</a>
          <p class="card-event__content">
            В нашей Усадьбе вы можете организовать семинары, тренинги,
            конференции, спортивные соревнования и любые другие важные
            мероприятия для вашей компании: дни рождения, выходные, банкеты.
          </p>
          <a href="#" class="btn-s card-event__btn _stroke _brown">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="s-events__btn-more btn-s _outline-brown">Показать еще</div>
  </div>
</div>
