<div class="s-events sect-m _pt">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://bat.qorix.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">&gt;</span>
        <span class="aioseo-breadcrumb">Все мероприятия</span>
      </div>
      <div class="m-title page-head__title">Все мероприятия</div>
      <p class="page-head__content content">
        Уютные домики, идеально подходящие для семейных поездок, романтических
        выходных или дружеских встреч. Мы продумали всё, чтобы отдых был
        комфортным: удобные спальни, оборудованная кухня, стильный интерьер
        и, конечно, вид на природу, который вдохновляет с первых минут
      </p>
    </div>
  </div>
</div>
