<section class="s-faq sect-m">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Вопросы - ответы</h2>
    </div>
    <div data-spollers class="s-faq__spollers">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>
            Базовые сценарии поведения пользователей неоднозначны и будут
            разоблачены
          </span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <div class="content">
              <p>
                Однозначно, тщательные исследования конкурентов лишь добавляют
                фракционных разногласий и заблокированы в рамках своих
                собственных рациональных ограничений.
                <br />
                Для современного мира выбранный нами инновационный путь
                способствует повышению качества поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>
            Для современного мира выбранный нами инновационный путь способствует
            повышению качества поставленных обществом задач
          </span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <div class="content">
              <p>
                Однозначно, тщательные исследования конкурентов лишь добавляют
                фракционных разногласий и заблокированы в рамках своих
                собственных рациональных ограничений.
                <br />
                Для современного мира выбранный нами инновационный путь
                способствует повышению качества поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>
            Принимая во внимание показатели успешности, дальнейшее развитие
            различных форм деятельности
          </span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <div class="content">
              <p>
                Однозначно, тщательные исследования конкурентов лишь добавляют
                фракционных разногласий и заблокированы в рамках своих
                собственных рациональных ограничений.
                <br />
                Для современного мира выбранный нами инновационный путь
                способствует повышению качества поставленных обществом задач.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
