<section class="s-gallery sect-m">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Фотогалерея</h2>
    </div>
    <div class="gallery">
      <a
        href="@img/gallery-1.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-1.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-2.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-2.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-1.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-1.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-2.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-2.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-3.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-3.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-1.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-1.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery-1.jpg"
        data-fancybox="about-gallery"
        class="gallery-item"
      >
        <img src="@img/gallery-2.jpg" alt="image" />
      </a>
    </div>
  </div>
</section>
