<section class="sect-p s-get-price" style="background: url('@img/get-price.jpg') center / cover no-repeat;">
  <div class="container">
    <div class="s-get-price__wrapper">
      <div class="s-get-price__info">
        <h2 class="s-title s-get-price__title">
          Оставить заявку на просчет стоимости
        </h2>
        <p class="content s-get-price__content">
          Также как убеждённость некоторых оппонентов не даёт нам иного выбора,
          кроме определения вывода текущих активов. Лишь активно развивающиеся
          страны третьего мира объявлены нарушающими общечеловеческие нормы
          этики и морали.
        </p>
        <div class="s-get-price__info-bottom">
          <div class="s-get-price__price">от 350 000 руб.</div>
          <p class="s-get-price__bottom-content">
            для точного расчёта свяжитесь с менеджером либо оставьте номер
            для связи
          </p>
        </div>
      </div>
      <form action="#" class="s-get-price__form">
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input" />
        </div>
        <div class="input-control">
          <input type="text" placeholder="Желаемая дата" class="input _date" />
        </div>
        <div class="input-control">
          <div class="select">
            <div class="select-btn">
              <input
                type="text"
                readonly
                placeholder="Тип площадки"
                class="input"
              />
            </div>
            <div class="select-body">
              <div class="select-item">Большая площадка</div>
              <div class="select-item">Средняя площадка</div>
              <div class="select-item">Маленькая площадка</div>
            </div>
          </div>
        </div>
        <div class="input-control">
          <input type="number" placeholder="Количество гостей" class="input" />
        </div>
        <div class="input-control">
          <textarea placeholder="Ваши пожелаения" class="input"></textarea>
        </div>
        <div class="input-control">
          <div class="select">
            <div class="select-btn">
              <input
                type="text"
                readonly
                placeholder="Выберите удобный вид связи"
                class="input"
              />
            </div>
            <div class="select-body">
              <div class="select-item">Telegram</div>
              <div class="select-item">Whatsapp</div>
              <div class="select-item">Звонок</div>
            </div>
          </div>
        </div>
        <div class="input-control">
          <input
            type="tel"
            placeholder="Укажите ваш номер телефона"
            class="input"
          />
        </div>
        <div class="check-wrapper _white">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-622">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-622"
                    value="1"
                    class="input-check"
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я соглашаюсь
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
        <button class="btn-s _brown">Отправить</button>
      </form>
    </div>
  </div>
</section>
