<section class="sect-m s-included">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Что входит в стоимость аренды</h2>
    </div>
    <div class="s-included__grid">
      <div class="s-included__item" style="background: url('@img/include.jpg') center / cover no-repeat;">
        <div class="s-included__title">Кейтеринг</div>
      </div>
      <div class="s-included__item" style="background: url('@img/include.jpg') center / cover no-repeat;">
        <div class="s-included__title">Проживание</div>
      </div>
      <div class="s-included__item" style="background: url('@img/include.jpg') center / cover no-repeat;">
        <div class="s-included__title">Завтраки</div>
      </div>
      <div class="s-included__item" style="background: url('@img/include.jpg') center / cover no-repeat;">
        <div class="s-included__title">Возможность декора</div>
      </div>
    </div>
  </div>
</section>