<section class="sect-m s-lodge _pt">
  <div class="page-head">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://bat.qorix.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">&gt;</span>
        <span class="aioseo-breadcrumb">Наши дома</span>
      </div>
    </div>
    <div class="page-head__buttons">
      <a href="#" class="btn-s _outline-brown _active">Дом «Обновление»</a>
      <a href="#" class="btn-s _outline-brown">Дом «Преображение»</a>
      <a href="#" class="btn-s _outline-brown">Дом «Созерцание»</a>
      <a href="#" class="btn-s _outline-brown">Домик «Я скучаю»</a>
    </div>
  </div>
  <div class="container">
    <div class="s-lodge__wrapper">
      <div class="swiper s-lodge__slider">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
        <div class="swiper-wrapper">
          <a
            href="@img/house.jpg"
            data-fancybox
            class="swiper-slide s-lodge__slide"
          >
            <img src="@img/house.jpg" alt="image" />
          </a>
          <a
            href="@img/house.jpg"
            data-fancybox
            class="swiper-slide s-lodge__slide"
          >
            <img src="@img/house.jpg" alt="image" />
          </a>
          <a
            href="@img/house.jpg"
            data-fancybox
            class="swiper-slide s-lodge__slide"
          >
            <img src="@img/house.jpg" alt="image" />
          </a>
          <a
            href="@img/house.jpg"
            data-fancybox
            class="swiper-slide s-lodge__slide"
          >
            <img src="@img/house.jpg" alt="image" />
          </a>
        </div>
        <div class="slider-pagination-shadow"></div>
      </div>
      <div class="s-lodge__main">
        <div class="s-lodge__main-head">
          <h1 class="s-lodge__main-title">
            Дом с баней на берегу озера «Обновление»
          </h1>
          <img src="@img/decor.png" alt="image" class="s-lodge__main-decor" />
        </div>
        <div class="s-lodge__content content">
          <p>
            Закрытая территория, баня и тишина. Дом находится в удивительном
            месте — Семиозёрка, в 20 минутах от Казани. Недалеко находится
            Седмиозерная Богородицкая Пустынь, обустроены святые источники с
            удивительной родниковой водой, да и еще здесь стали популярны
            целебные Анисьины грядки. До Анисьиных грядок примерно три
            километра.
          </p>
          <p>
            Это удивительно красивое место: кругом бескрайние поля и леса…
            Невольно снова погружаешься в безмятежное состояние, и хочется
            никуда не торопиться.
          </p>
        </div>
        <div class="s-lodge__spec">
          <div class="s-lodge__spec-item">
            <img src="@img/peoples.svg" alt="icon" />
            <div>
              <div class="name">Вместительность</div>
              <div class="value">12 человек</div>
            </div>
          </div>
          <div class="s-lodge__spec-item">
            <img src="@img/bed.svg" alt="icon" />
            <div>
              <div class="name">Спальные места</div>
              <div class="value">на 4 - 6 человек</div>
            </div>
          </div>
        </div>
        <div class="s-lodge__price">
          <div class="s-lodge__price-item">
            <div class="name">Будни</div>
            <div class="value">26 000 руб. / сутки</div>
          </div>
          <div class="s-lodge__price-item">
            <div class="name">Выходные</div>
            <div class="value">28 000 руб. / сутки</div>
          </div>
        </div>
        <div class="s-lodge__warn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-warn"></use>
          </svg>
          <span>Регистрация заезда с 14:00 до 21:00, выезд в 12:00</span>
        </div>
        <div class="s-lodge__bottom">
          <a
            href="#modal-brone"
            data-name="Дом с баней на берегу озера «Обновление»"
            class="btn-s s-lodge__bottom-btn"
          >
            Забронировать домик
          </a>
          <a href="@img/adv-icon.svg" data-fancybox class="s-lodge__play">
            <div class="btn-play _brown">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-play'></use>
              </svg>
            </div>
            <span>Румтур</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
