<section class="sect-p s-offer bg-wood s-head-decor">
  <div class="container">
    <div class="s-offer__wrapper">
      <a href="@img/offer.jpg" data-fancybox class="s-offer__gallery">
        <img src="@img/offer.jpg" alt="image">
      </a>
      <div class="s-offer__content">
        <h2 class="s-title s-offer__title">Баня с тёплым чаном</h2>
        <div class="content">
          <p>
            Баня находится в удивительном месте — Семиозёрка, в 20 минутах от Казани. Недалеко находится Седмиозерная Богородицкая Пустынь, обустроены святые источники с удивительной родниковой водой, да и еще здесь стали популярны целебные Анисьины грядки. До Анисьиных грядок примерно три километра.
          </p>
          <p>
            Это удивительно красивое место: кругом бескрайние поля и леса… Невольно снова погружаешься в безмятежное состояние, и хочется никуда не торопиться.
          </p>
        </div>
        <div class="s-offer__buttons">
          <a href="#modal-brone" data-name="Забронировать баню" data-fancybox class="btn-s _stroke">Забронировать баню</a>
          <a href="#" class="btn-s _outline">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>