<section class="sect-p s-head-decor s-bottom-decor s-possibilities bg-wood">
  <div class="container">
    <div class="sect-head _col">
      <h2 class="s-title">Возможности территории</h2>
    </div>
    <div class="s-possibilities__wrapper">
      <div class="swiper s-possibilities__slider">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-prev'></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-next'></use>
          </svg>
        </div>
        <div class="swiper-wrapper">
          <a href="@img/possibilities-slider.jpg" data-fancybox="possibilities" class="swiper-slide s-possibilities__slide">
            <img src="@img/possibilities-slider.jpg" alt="image">
          </a>
          <a href="@img/possibilities-slider.jpg" data-fancybox="possibilities" class="swiper-slide s-possibilities__slide">
            <img src="@img/possibilities-slider.jpg" alt="image">
          </a>
          <a href="@img/possibilities-slider.jpg" data-fancybox="possibilities" class="swiper-slide s-possibilities__slide">
            <img src="@img/possibilities-slider.jpg" alt="image">
          </a>
          <a href="@img/possibilities-slider.jpg" data-fancybox="possibilities" class="swiper-slide s-possibilities__slide">
            <img src="@img/possibilities-slider.jpg" alt="image">
          </a>
        </div>
        <div class="slider-pagination-shadow"></div>
      </div>
      <div class="s-possibilities__content">
        <ul class="list s-possibilities__list">
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Проведение события возможно только при полном закрытии комплекса</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Депозит на ресторан и бар включен в стоимость аренды комплекса, а также завтраки для проживающих гостей</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Цена вопроса не важна, когда объемы выросли</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Сейчас всё чаще звучит треск разлетающихся скреп</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Возможность декора пространств и территории</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Общая вместимость территории до 50 гостей без проживания, с проживанием – 38 гостей при размещении на двуспальных кроватях</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Посещение банного комплекса не включено в стоимость аренды комплекса и рассчитывается индивидуально</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>На уличной территории шумная программа возможна только до 22:00, внутри помещений – без ограничений по времени</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check'></use>
            </svg>
            <span>Дополнительное время, выходящее за рамки суток аренды, на монтаж и другие работы на территории, согласовывают на индивидуальных условиях</span>
          </li>
        </ul>
        <img src="@img/decor-top-double.svg" alt="icon" class="s-possibilities__icon">
      </div>
    </div>
  </div>
</section>