<section class="s-stocks bg-linear sect-p s-head-decor s-bottom-decor">
  <div class="s-stocks__body">
    <div class="container">
      <div class="sect-head _col">
        <h2 class="s-title">Акции</h2>
      </div>
      <div class="swiper s-stocks__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">
                Скидка 30% при раннем бронировании
              </h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">
                Скидка 30% при раннем бронировании
              </h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">
                Скидка 30% при раннем бронировании
              </h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-stock">
              <img src="@img/stock.jpg" alt="image" class="card-stock__img" />
              <h5 class="card-stock__title">Скидка при брони 2 дней 10%</h5>
              <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
              <div class="btn-s _outline-brown card-stock__btn">Подробнее</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
