.aioseo-breadcrumbs {
  @include flex-center;
  gap: 10px;

  font-weight: 300;
  font-size: 14px;
  color: rgba(29, 25, 20, 0.5);

  @include tablet-min {
    font-size: 13px;
  }

  a {
    color: var(--black);
    transition: color 0.3s ease;
    @include hover {
      color: var(--light-green);
    }
  }
}
.aioseo-breadcrumb-separator {
  font-size: 0px;
  width: 6px;
  height: 11px;
  background: url("@img/arrow-next.svg") center / contain no-repeat;
  @include tablet-min {
    width: 5px;
    height: 10px;
  }
}
