.btn-s {
  --border-color: var(--primary);
  --fill-color: var(--primary);
  --hover-fill-color: var(--primary-light);
  --hover-border-color: var(--primary-light);
  --color: white;
  --hover-color: white;

  @include flex-center;
  position: relative;
  cursor: pointer;
  padding: 18px 40px;
  border: 1px solid var(--border-color);
  background-color: var(--fill-color);
  border-radius: 12px;
  width: fit-content;

  color: var(--color);
  text-align: center;
  font-weight: 400;
  font-size: 20px;

  z-index: 1;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    background-color: var(--hover-fill-color);
    border-color: var(--hover-fill-color);
    color: var(--hover-color);

    &::before {
      border-color: var(--hover-fill-color) !important;
    }
    &::after {
      background-color: var(--hover-fill-color) !important;
    }
  }

  @include tablet {
    font-size: 16px;
    padding: 16px 25px;
  }

  &._outline {
    --fill-color: transparent;
    --hover-fill-color: var(--primary);
    --color: var(--primary);
  }
  &._stroke {
    background-color: transparent !important;
    border-color: transparent !important;
    &::before,
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
    }
    &::before {
      inset: 0;
      border-radius: 12px;
      border: 1px solid var(--border-color);
    }
    &::after {
      inset: 4px;
      border-radius: 8px;
      background-color: var(--fill-color);
    }
  }

  &._brown {
    --border-color: var(--brown);
    --fill-color: var(--brown);
    --hover-fill-color: var(--brown-light);
    --hover-border-color: var(--brown-light);
  }
  &._white {
    --border-color: white;
    --fill-color: white;
    --hover-fill-color: var(--primary);
    --hover-border-color: var(--primary);
    --color: var(--black);
    --hover-color: white;
  }
  &._outline-brown {
    --border-color: var(--brown);
    --fill-color: transparent;
    --color: var(--brown);
    --hover-fill-color: var(--brown);
    --hover-border-color: var(--brown) --hover-color: white;

    &._active {
      --border-color: var(--brown);
      --fill-color: var(--brown);
      --color: white;
    }
  }
}

.btn-play {
  --background-color: rgba(29, 25, 20, 0.5);
  --hover-background-color: rgba(29, 25, 20, 0.8);
  --color: white;

  @include flex-center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--background-color);
  backdrop-filter: blur(20px);
  width: 80px;
  height: 80px;

  color: var(--color);

  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--hover-background-color);
  }
  @include tablet {
    width: 60px;
    height: 60px;
  }

  &._brown {
    --background-color: rgba(153, 109, 88, 0.15);
    --hover-background-color: rgba(153, 109, 88, 0.4);
    --color: var(--brown);
  }

  svg {
    width: 26px;
    height: 26px;
    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
}
