.card-lodge {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  &__slider {
    width: 100%;
  }
  &__slide {
    aspect-ratio: 1/0.75;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    @include tablet {
      margin-top: 20px;
    }
  }
  &__title {
    display: block;
    width: fit-content;
    font-weight: 400;
    font-size: 28px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  &__content {
    color: rgba(29, 25, 20, 0.7);
    margin: 15px 0px 0px 0px;
    @include tablet {
      margin-top: 10px;
    }
  }
  &__spec {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    row-gap: 20px;
    @include laptop {
      gap: 20px;
      row-gap: 10px;
    }
    @include laptop-min {
      grid-template-columns: 1fr;
    }
    @include tablet {
      margin: 20px 0px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__spec-item {
    display: flex;
    align-items: center;
    gap: 30px;
    @include laptop {
      gap: 20px;
    }

    img {
      display: block;
      width: 36px;
      flex-shrink: 0;
      @include tablet {
        width: 28px;
      }
    }
    .name {
      color: rgba(29, 25, 20, 0.5);
      margin-bottom: 5px;
      @include tablet {
        font-size: 13px;
        margin-bottom: 0;
      }
    }
    .value {
      font-size: 22px;
      @include laptop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 15px;
      }
    }
  }
  &__buttons {
    margin-top: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @include laptop-middle {
      gap: 10px;
      .btn-s {
        width: 100%;
      }
    }
    @include tablet {
      .btn-s {
        width: 100%;
      }
    }
  }
}
