.card-event {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  &__slider {
    width: 100%;
  }
  &__slide {
    aspect-ratio: 1/0.75;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    @include tablet {
      margin-top: 20px;
    }
  }
  &__title {
    display: block;
    width: fit-content;
    font-weight: 400;
    font-size: 28px;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-min {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  &__content {
    color: rgba(29, 25, 20, 0.7);
    margin: 15px 0px 30px 0px;
    @include tablet {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    margin-top: auto;
    @include tablet-min {
      width: 100%;
    }
  }
}
