.check-wrapper {
  --color: black;
  --icon: url("@img/check-white.svg") center / 85% auto no-repeat;

  input[type="checkbox"] {
    display: none;
    &:checked + span {
      &::before {
        background: var(--icon);
        background-color: var(--color);
      }
    }
    & + span {
      cursor: pointer;
      display: flex;
      align-items: start;
      gap: 8px;

      color: var(--color);
      font-size: 14px;
      line-height: 150%;

      a {
        color: var(--primary);
        text-underline-offset: 3px;
        @include hover {
          text-decoration: underline;
        }
      }

      &::before {
        display: block;
        content: "";
        margin-top: 3px;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        border: 1px solid var(--color);
        border-radius: 2px;

        transition:
          background-color 0.3s ease,
          border-color 0.3s ease;
      }
    }
  }
}
