.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include laptop-min {
    gap: 15px;
  }
  @include tablet-min {
    gap: 5px;
  }
}
.gallery-item {
  --min-width: 450px;
  position: relative;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  min-height: 450px;
  @include laptop {
    min-height: 300px;
  }
  @include laptop-min {
    min-height: 250px;
  }
  @include tablet {
    min-height: 150px;
  }
  @include tablet-min {
    min-height: 115px;
  }

  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  &:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }
  &:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  &:nth-child(5) {
    grid-area: 3 / 1 / 5 / 3;
  }
  &:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
  }
  &:nth-child(7) {
    grid-area: 4 / 3 / 5 / 4;
  }

  @include hover {
    img {
      transform: scale(1.08);
    }
  }
  @include laptop {
    --min-width: 350px;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.3s linear;
  }
}
