.input {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 20px;
  background-color: white;
  width: 100%;

  font-weight: 300;
  font-size: 17px;

  @include tablet {
    font-size: 15px;
    padding: 16px;
  }

  &::placeholder {
    color: rgba(29, 25, 20, 0.7);
  }

  &._date {
    padding-right: 50px;
    background: url("@img/date.svg") center right 20px / 22px auto no-repeat;
    background-color: white;

    @include tablet {
      padding-right: 44px;
      background-size: 18px auto;
    }
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
  }
}
