.sect-p {
  padding: 90px 0px;
  @include laptop-min {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 50px 0px;
  }
}
.sect-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 70px;
  @include laptop-middle {
    margin-bottom: 50px;
  }
  @include laptop-min {
    margin-bottom: 30px;
  }
  @include tablet {
    gap: 20px;
    .s-title {
      text-align: center;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: start;
    gap: 60px;
    max-width: 800px;
    @include laptop-min {
      gap: 30px;
    }
    @include tablet {
      gap: 20px;
    }
  }
  &__descr {
    line-height: 150%;
    color: rgba(29, 25, 20, 0.7);
    margin: 0;
  }
  &__content-icon {
    display: block;
    width: 50px;
    flex-shrink: 0;
    @include tablet {
      width: 40px;
    }
  }
}
