.select {
  position: relative;

  &._open {
    .select-body {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .select-btn {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
.select-btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    right: 20px;
    background: url("@img/arrow-down.svg") center/ 100% auto no-repeat;
    transition: transform .3s ease;
  }

  .input {
    padding-right: 45px;
    pointer-events: none;
  }
}
.select-body {
  position: absolute;
  border-radius: 12px;
  background-color: white;
  margin-top: 10px;
  color: var(--black);
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  transition: transform .3s ease, visibility .3s ease, opacity .3s ease;
}
.select-item {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;

  transition: background-color .3s ease, color .3s ease;
  
  @include hover {
    background-color: var(--wood);
  }
  &._active {
    background-color: var(--primary-light);
    color: white;
    pointer-events: none;
  }
}
