.slider-btn-m {
  @include flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: rgba(29, 25, 20, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  color: white;

  transition:
    background-color 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 10;

  @include hover {
    background-color: rgba(29, 25, 20, 0.7);
  }

  svg {
    width: 18px;
    height: 36px;
  }

  @include laptop-min {
    display: none;
  }

  &._next {
    right: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      right: 15px;
    }

    svg {
      transform: translateX(2px);
    }
  }
  &._prev {
    left: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      left: 15px;
    }

    svg {
      transform: translateX(-2px);
    }
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}

.slider-nav {
  display: flex;
  gap: 20px;

  @include laptop-min {
    display: none;
  }

  .slider-btn {
    position: static !important;
    transform: translate(0, 0) !important;
  }
}
.slider-btn {
  --background-color: rgba(29, 25, 20, 0.5);
  --border-color: rgba(255, 255, 255, 0.2);
  --color: white;

  --hover-background-color: rgba(29, 25, 20, 0.8);
  --hover-border-color: rgba(255, 255, 255, 0.2);
  --hover-color: white;

  @include flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(20px);

  color: var(--color);

  transition:
    background-color 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  z-index: 10;

  @include hover {
    background-color: var(--hover-background-color);
    border: 1px solid var(--hover-border-color);
    color: var(--hover-color);
  }

  svg {
    width: 12px;
    height: 26px;
  }

  @include laptop-min {
    display: none;
  }

  &._next {
    right: 20px;

    svg {
      transform: translateX(2px);
    }
  }
  &._prev {
    left: 20px;

    svg {
      transform: translateX(-2px);
    }
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &._wood {
    --background-color: var(--wood);
    --border-color: var(--wood);
    --color: var(--black);

    --hover-background-color: var(--primary-light);
    --hover-border-color: var(--primary-light);
    --hover-color: white;

    &.swiper-button-disabled {
      opacity: 0.5;
      visibility: visible;
      pointer-events: none;
    }
  }
}

.slider-pagination-shadow {
  position: absolute;
  display: flex;
  gap: 4px;
  left: 50% !important;
  bottom: 10px !important;
  transform: translateX(-50%);
  border-radius: 80px;
  fill: rgba(29, 25, 20, 0.5);
  backdrop-filter: blur(20px);
  width: fit-content !important;
  padding: 4px;
  z-index: 10;

  @media (min-width: 992px) {
    display: none;
  }

  .swiper-pagination-bullet {
    margin: 0 !important;
    opacity: 1 !important;
    flex: 0 0 6px;
    height: 6px;
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.5);

    transition:
      flex 0.3s ease,
      background-color 0.3s ease;

    &.swiper-pagination-bullet-active {
      flex-basis: 14px;
      background-color: white;
    }
  }
}

.slider-pagination {
  @include flex-center;
  margin-top: 30px;
  gap: 4px;

  @media (min-width: 992px) {
    display: none;
  }

  .swiper-pagination-bullet {
    margin: 0 !important;
    opacity: 1 !important;
    border-radius: 50px !important;

    flex: 0 0 8px;
    height: 8px;
    background-color: rgba(153, 109, 88, 0.3);

    transition:
      flex 0.3s ease,
      background-color 0.3s ease;

    &.swiper-pagination-bullet-active {
      background-color: var(--brown);
      flex-basis: 18px;
    }

    @include tablet {
      height: 6px;
      flex-basis: 6px;
      &.swiper-pagination-bullet-active {
        background-color: var(--brown);
        flex-basis: 14px;
      }
    }
  }
}
