.slider-btn-m {
  @include flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: rgba(29, 25, 20, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  color: white;

  transition:
    background-color 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 10;

  @include hover {
    background-color: rgba(29, 25, 20, 0.7);
  }

  svg {
    width: 18px;
    height: 36px;
  }

  @include laptop-min {
    display: none;
  }

  &._next {
    right: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      right: 15px;
    }

    svg {
      transform: translateX(2px);
    }
  }
  &._prev {
    left: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      left: 15px;
    }

    svg {
      transform: translateX(-2px);
    }
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;

    svg {
      transform: translateX(-2px);
    }
  }
}

.slider-btn {
  @include flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: rgba(29, 25, 20, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  color: white;

  transition:
    background-color 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 10;

  @include hover {
    background-color: rgba(29, 25, 20, 0.7);
  }

  svg {
    width: 12px;
    height: 26px;
  }

  @include laptop-min {
    display: none;
  }

  &._next {
    right: 20px;

    svg {
      transform: translateX(2px);
    }
  }
  &._prev {
    left: 20px;

    svg {
      transform: translateX(-2px);
    }
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}

.slider-pagination-shadow {
  position: absolute;
  display: flex;
  gap: 4px;
  left: 50% !important;
  bottom: 10px !important;
  transform: translateX(-50%);
  border-radius: 80px;
  fill: rgba(29, 25, 20, 0.5);
  backdrop-filter: blur(20px);
  width: fit-content !important;
  padding: 4px;
  z-index: 10;

  @media (min-width: 992px) {
    display: none;
  }

  .swiper-pagination-bullet {
    margin: 0 !important;
    opacity: 1 !important;
    flex: 0 0 6px;
    height: 6px;
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.5);

    transition: flex .3s ease, background-color .3s ease;

    &.swiper-pagination-bullet-active {
      flex-basis: 14px;
      background-color: white;
    }
  } 
}
