.slider-btn-m {
  @include flex-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: rgba(29, 25, 20, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  color: white;

  transition: background-color .3s ease, opacity .3s ease, visibility .3s ease;

  z-index: 10;

  @include hover {
    background-color: rgba(29, 25, 20, 0.7);
  }

  svg {
    width: 18px;
    height: 36px;
  }
  
  @include laptop-min {
    display: none;
  }

  &._next {
    right: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      right: 15px;
    }

    svg {
      transform: translateX(2px);
    }
  }
  &._prev {
    left: calc((100% - 1620px) / 2);
    @media (max-width: 1650px) {
      left: 15px;
    }
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;

    svg {
      transform: translateX(-2px);
    }
  }
}
