@import "./base/normalize";
@import "./base/media";
@import "./base/vars";
@import "./base/templates";
@import "./base/settings";
@import "./base/body-config";
@import "./base/config-container";

// ui
@import "./ui/button";
@import "./ui/list";
@import "./ui/social";
@import "./ui/slider";
@import "./ui/input";
@import "./ui/sect";
@import "./ui/title";
@import "./ui/gallery";
@import "./ui/backgrounds";
@import "./ui/card-lodge";
@import "./ui/check-wrapper";
@import "./ui/content";
@import "./ui/page-head";
@import "./ui/breadcrumbs";
@import "./ui/card-stock";
@import "./ui/card-event";
@import "./ui/select";

// widget
@import "./widget/burger";
@import "./widget/form-bar";
@import "./widget/modal";

// components
@import "./components/header";

@import "./components/intro";
@import "./components/s-about";
@import "./components/s-lodges";
@import "./components/s-adv";
@import "./components/s-offer";
@import "./components/s-conducting";
@import "./components/s-scheme";
@import "./components/s-contacts";
@import "./components/s-archive";
@import "./components/s-connect";
@import "./components/s-lodge";
@import "./components/s-stocks";
@import "./components/s-hero";
@import "./components/s-events";
@import "./components/s-event";
@import "./components/s-possibilities";
@import "./components/s-included";
@import "./components/s-get-price";
@import "./components/s-variants";

@import "./components/footer";