@import "./base/normalize";
@import "./base/media";
@import "./base/vars";
@import "./base/templates";
@import "./base/settings";
@import "./base/body-config";
@import "./base/config-container";

// ui
@import "./ui/button";
@import "./ui/list";
@import "./ui/social";
@import "./ui/slider";
@import "./ui/input";
@import "./ui/sect";
@import "./ui/title";
@import "./ui/gallery";

// widget
@import "./widget/burger";
@import "./widget/form-bar";

// components
@import "./components/header";

@import "./components/intro";
@import "./components/s-about";
@import "./components/s-lodges";

@import "./components/footer";